.inspector-tree {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 250px;

    background-color: white;
    padding: 4px;

    &-node {
        cursor: pointer;

        &.selected {
            cursor: pointer;
            background: lightblue;
        }
    }
}
