body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    flex-grow: 1;
}

.showroom, .playground, .user-room{
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    position: relative;
}

.showroom div:first-child, .playground div:first-child, .user-room div:first-child{
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit !important;
}

canvas {
    margin: 0;
    padding: 0;
    display: block;
}